[Unit]
Description=Amtrak Data Pull
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /var/www/html/lametro/amtrak.py
StandardOutput=/var/www/html/lametro/amtrak.log
StandardError=/var/www/html/lametro/amtrak_error.log

[Install]
WantedBy=multi-user.target
