[Unit]
Description=LA Metro Data Pull
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /var/www/html/lametro/lametro.py
StandardOutput=/var/www/html/lametro/lametro.log
StandardError=/var/www/html/lametro/lametro_error.log

[Install]
WantedBy=multi-user.target
