[Unit]
Description=MBTA Data Pull
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /var/www/html/lametro/mbta.py
StandardOutput=/var/www/html/lametro/mbta.log
StandardError=/var/www/html/lametro/mbta_error.log

[Install]
WantedBy=multi-user.target
